* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lime;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    min-width: 90%;
    min-height: 100vh;
    box-shadow: 5px 0 15px rgba(0,0,0,0.2);
    padding: 20px 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    column-gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(108,105,105);
    font-weight: normal;
    font-family: fantasy;
}

/* main styles */

main {
    margin-top: 60px;
    min-height: 80vh;
}

main h3 {
    font-size: 25px;
    color: rgb(51,41,63);
    font-weight: 550;
}

main .btn-group {
    margin-top: 30px;
    display: flex;
    column-gap: 0.5rem;
    cursor: pointer;
}

main .btn-group a {
    text-decoration: none;
    cursor: pointer;
}

main .btn-group a button {
    padding: 6px 10px;
    background-color: transparent;
    border: 1px solid rgb(163, 221, 245);
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
main .btn-group a button .active {
    background-color: rgb(163, 221, 245);
    color: #fff;
    cursor: pointer;
}

.images {
    display: grid;
    grid-template-columns: auto;
    gap: 3rem 2rem;
    margin-top: 30px;
}

.images img {
    width: 400px;
    height: 280px;
    object-fit: cover;
}